.container{
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
}

.container img{
  height: 200px;
  width:300px;
  border: 1px solid ;
  border-radius: 5px;

}

h1{
  text-align: center;
}

.box{
  /* border: 1px solid brown; */
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
}

.box img{
  max-height: 500px;
  max-width: 80%;
}